<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- The "Die" tile of the quick settings shade (see DiceTileService).
         The permission is what lets only the system bind it. -->
    <service
      android:name="expo.modules.dicetile.DiceTileService"
      android:exported="true"
      android:icon="@drawable/ic_dice_tile"
      android:label="@string/dice_tile_label"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>
  </application>
</manifest>
